@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura-Medium.otf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura-Bold.otf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
