---
import Diamond from "../icons/Diamond.astro";
import Zen from "../icons/Zen.astro";
import Celebrate from "../illustrations/Celebrate.astro";
import SectionSubtitleP from "../ui/text/SectionSubtitleP.astro";
import SectionTitleH3 from "../ui/text/SectionTitleH3.astro";
---

<style>
  .animate-diamond {
    animation: diamond 2s ease-in-out;
  }

  @keyframes diamond {
    0%,
    20% {
      transform: translateY(70px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .animate-paused {
    animation-play-state: paused;
  }
</style>

<div class="flex justify-center mt-20">
  <SectionTitleH3>
    <span class="flex flex-col items-center lg:flex-row">
      <span>Lifetime</span>
      <div class="overflow-hidden diamond-target">
        <span class="inline-block animate-diamond animate-paused"
          ><Diamond styles=" w-20 h-20" /></span
        >
      </div>
      <span>Gurantee</span>
    </span>
  </SectionTitleH3>
</div>

<div class="flex justify-center">
  <SectionSubtitleP>
    <span
      >Rigorously tested. Every website I build is designed to give great and
      consistent performance, time after time.
    </span>
  </SectionSubtitleP>
</div>

<div
  class="mt-5 flex flex-col lg:flex-row lg:justify-center items-center gap-2"
>
  <Zen styles="w-14 h-14 xl:w-16 xl:h-16" />
  <h3 class="text-gray-800">Enjoy peace of mind</h3>
</div>
<div class="flex justify-center">
  <p class="text-gray-500 max-w-lg text-center">
    If the website does not perform the way it is intended, I will fix it. Free
    of charge.
  </p>
</div>
<div class="mt-10 flex justify-center">
  <Celebrate styles="w-80 md:w-[400px] lg:w-[500px] h-auto" />
</div>


