<style>
  .rainbow {
    animation: shine 8s ease-in infinite;
  }
  @keyframes shine {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>

<h1
  class="uppercase text-5xl md:text-6xl lg:text-7xl xl:text-8xl lg:max-w-5xl xl:max-w-7xl 2xl:max-w-8xl py-2 text-center font-bold text-transparent bg-gradient-to-r from-[#ff660b] via-[#5083ff] to-[#ff660b] bg-[length:300%_300%] rainbow bg-clip-text"
>
  Websites built with custom design and code
</h1>
