<div class="inline-block relative">
  <span>template</span>
  <span
    aria-hidden="true"
    style="transform: translateX(-100%) scaleX(0)"
    class="animate-strike transition-all w-full h-2 left-0 top-1/2 absolute bg-theme-red"
  ></span>
</div>
