---
import HanddrawnCirle from "../components/icons/HanddrawnCirle.astro";
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout
  bodyStyles="min-h-screen flex flex-col"
  title="Wesley Jessie - Freelance web design and development"
  description="Get custom made websites that stand out from templates. Life time gurantee."
>
  <main class="flex-1 flex justify-center items-center">
    <h1 class="text-xl lg:text-5xl font-bold">
      <span class="block">
        <span>Let's make the</span>
        <div class="inline-block relative">
          <span class=""> best possible</span><HanddrawnCirle
            styles=" overflow-visible absolute -bottom-3 w-full h-[200%]"
          />
        </div>
      </span>
      <span> website for you</span>
      <span class="text-base font-normal">(within your budget)</span>
    </h1>
  </main>
</PageLayout>
