---
import Hero from "../components/sections/Hero.astro";
import DesignAndCodeSection from "../components/sections/DesignAndCodeSection.astro";
import GuranteeSection from "../components/sections/GuranteeSection.astro";
import NoTemplateSection from "../components/sections/NoTemplateSection.astro";
import PageLayout from "../layout/PageLayout.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import BottomCTA from "../components/sections/BottomCTA.astro";
---

<PageLayout
  title="Wesley Jessie - Freelance web design and development"
  description="Get custom made websites that stand out from templates. Life time gurantee."
>
  <main class="relative z-10 mx-6">
    <Hero />
    <Testimonials />
    <NoTemplateSection />
    <GuranteeSection />
    <DesignAndCodeSection />
    <BottomCTA />
  </main>
</PageLayout>

<script src="../scripts/observer.ts"></script>
