---
import Hero from "../components/Hero.astro";
import NoTemplateSection from "../components/NoTemplateSection.astro";
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout
  title="Wesley Jessie - Freelance web design and development"
  description="Get custom made websites that stand out from templates. Life time gurantee."
>
  <main class="relative z-10 mx-6">
    <Hero />
    <NoTemplateSection />
  </main>
</PageLayout>
