---
import Clipboard from "../../icons/Clipboard.astro";
---

<button
  class="w-36 clipboard flex gap-x-1 items-center px-1 py-1 border-gray-300 border-[1px] rounded-md"
  ><span><Clipboard styles="w-4 h-4  stroke-gray-300 fill-gray-300" /></span>
  <span class="text-sm text-gray-300">copy to clipboard</span>
</button>

<script>
  const clipboardBtn = document.querySelectorAll(".clipboard");
  const textToCopy = "wesley@wesleyjessie.com";

  clipboardBtn?.forEach((btn) => {
    const spanTags = btn.querySelectorAll("span");
    let timerId: number | undefined;
    btn.addEventListener("click", () =>
      updateClipboard(btn, spanTags[1], timerId)
    );
  });

  async function updateClipboard(
    button: Element | undefined,
    spanTag: Element | undefined,
    timerId: number | undefined
  ) {
    clearTimeout(timerId);
    if (button && spanTag) {
      try {
        await navigator.clipboard.writeText(textToCopy);
        spanTag.textContent = "copied!";
      } catch (err) {
        spanTag.textContent = "Sorry your browser does not allow this.";
      } finally {
        timerId = setTimeout(() => {
          console.log(2, timerId);
          spanTag.textContent = "copy to clipboard";
        }, 3000);
      }
    }
  }
</script>
