---
import Clipboard from "../../icons/Clipboard.astro";
---

<custom-clipboard>
  <button
    class="w-36 clipboard flex gap-x-1 items-center px-1 py-1 border-gray-300 border-[1px] rounded-md"
    ><span><Clipboard styles="w-4 h-4  stroke-gray-400 fill-gray-400" /></span>
    <span class="clipboard-message text-sm text-gray-400"
      >copy to clipboard</span
    >
  </button>
</custom-clipboard>

<script>
  const TEXT_TO_COPY = "wesley@wesleyjessie.com";

  class CustomClipboard extends HTMLElement {
    constructor() {
      super();
      const btn = this.querySelector("button");
      const message = this.querySelector("span.clipboard-message");
      let timerId: number | undefined;

      btn?.addEventListener("click", () => {
        clearTimeout(timerId);
        updateClipboard(btn, message).then((newTimerId) => {
          timerId = newTimerId;
        });
      });
    }
  }

  customElements.define("custom-clipboard", CustomClipboard);

  async function updateClipboard(
    button: Element | null,
    message: Element | null
  ) {
    if (!button || !message) return;

    try {
      await navigator.clipboard.writeText(TEXT_TO_COPY);
      message.textContent = "copied!";
    } catch (err) {
      message.textContent = "Sorry your browser does not allow this.";
    } finally {
      return setTimeout(() => {
        message.textContent = "copy to clipboard";
      }, 3000);
    }
  }
</script>
