---
interface Props {
  styles?: string;
}
const { styles } = Astro.props;
---

<svg
  role="img"
  class={styles}
  xmlns="http://www.w3.org/2000/svg"
  width="20"
  height="20"
  viewBox="0 0 20 20"
  fill="none"
  fill-color="currentColor"
>
  <title>Check mark</title>
  <path
    d="M10 0C8.02219 0 6.08879 0.58649 4.4443 1.6853C2.79981 2.78412 1.51809 4.3459 0.761209 6.17316C0.00433286 8.00042 -0.1937 10.0111 0.192152 11.9509C0.578004 13.8907 1.53041 15.6725 2.92894 17.0711C4.32746 18.4696 6.10929 19.422 8.0491 19.8078C9.98891 20.1937 11.9996 19.9957 13.8268 19.2388C15.6541 18.4819 17.2159 17.2002 18.3147 15.5557C19.4135 13.9112 20 11.9778 20 10C20 7.34783 18.9464 4.80429 17.0711 2.92893C15.1957 1.05357 12.6522 0 10 0ZM10 18.3333C8.35183 18.3333 6.74066 17.8446 5.37025 16.9289C3.99984 16.0132 2.93174 14.7117 2.30101 13.189C1.67028 11.6663 1.50525 9.99075 1.82679 8.37425C2.14834 6.75774 2.94201 5.27288 4.10745 4.10744C5.27288 2.94201 6.75774 2.14833 8.37425 1.82679C9.99076 1.50525 11.6663 1.67027 13.189 2.301C14.7117 2.93173 16.0132 3.99984 16.9289 5.37025C17.8446 6.74066 18.3333 8.35182 18.3333 10C18.3333 12.2101 17.4554 14.3297 15.8926 15.8926C14.3298 17.4554 12.2101 18.3333 10 18.3333Z"
  ></path>
  <path
    d="M13.5341 6.80758L8.82581 11.5242C8.74834 11.6023 8.65617 11.6643 8.55462 11.7067C8.45307 11.749 8.34415 11.7707 8.23414 11.7707C8.12413 11.7707 8.01521 11.749 7.91366 11.7067C7.81211 11.6643 7.71994 11.6023 7.64247 11.5242L6.46747 10.3409C6.38977 10.2632 6.29753 10.2016 6.19601 10.1595C6.09449 10.1175 5.98569 10.0958 5.87581 10.0958C5.76592 10.0958 5.65712 10.1175 5.5556 10.1595C5.45408 10.2016 5.36184 10.2632 5.28414 10.3409C5.20644 10.4186 5.14481 10.5108 5.10276 10.6124C5.06071 10.7139 5.03906 10.8227 5.03906 10.9326C5.03906 11.0425 5.06071 11.1513 5.10276 11.2528C5.14481 11.3543 5.20644 11.4465 5.28414 11.5242L6.46747 12.6992C6.93622 13.1674 7.57164 13.4304 8.23414 13.4304C8.89664 13.4304 9.53205 13.1674 10.0008 12.6992L14.7175 7.99091C14.7952 7.91321 14.8568 7.82097 14.8989 7.71945C14.9409 7.61793 14.9625 7.50913 14.9625 7.39924C14.9625 7.28936 14.9409 7.18055 14.8989 7.07904C14.8568 6.97752 14.7952 6.88528 14.7175 6.80758C14.6398 6.72988 14.5475 6.66824 14.446 6.62619C14.3445 6.58414 14.2357 6.5625 14.1258 6.5625C14.0159 6.5625 13.9071 6.58414 13.8056 6.62619C13.7041 6.66824 13.6118 6.72988 13.5341 6.80758Z"
  ></path>
</svg>
