---
interface Props {
  styles: string;
}
const { styles } = Astro.props;
---

<style>
  .animate-thunder {
    animation: thunder 2s linear infinite;
  }

  @keyframes thunder {
    0%,
    100% {
      transform: scale(1.02);
      opacity: 1;
    }

    50% {
      transform: scale(1);
      opacity: 0.5;
    }
  }
</style>

<svg
  role="img"
  class={styles}
  xmlns="http://www.w3.org/2000/svg"
  width="40"
  height="40"
  viewBox="0 0 40 40"
  fill="none"
>
  <title>Lightning</title>
  <path
    class="animate-thunder"
    d="M22.9589 17.0752C22.8787 16.9891 22.7759 16.9274 22.6623 16.8969C22.5487 16.8664 22.4289 16.8684 22.3164 16.9027L15.2014 19.092L18.7376 2.00141C18.769 1.84922 18.7426 1.69077 18.6634 1.55704C18.5842 1.42332 18.458 1.32392 18.3095 1.27829C18.161 1.23196 18.0006 1.24283 17.8598 1.30874C17.7189 1.37466 17.6078 1.49087 17.5482 1.63454L8.17324 24.1345C8.12749 24.2441 8.11391 24.3645 8.13409 24.4815C8.15427 24.5985 8.20737 24.7074 8.28718 24.7953C8.36699 24.8833 8.4702 24.9467 8.58473 24.9781C8.69926 25.0095 8.82037 25.0076 8.93387 24.9727L16.1057 22.7658L13.7576 38.0302C13.7349 38.1818 13.7688 38.3365 13.8527 38.4647C13.9366 38.593 14.0648 38.686 14.2128 38.726C14.3608 38.766 14.5183 38.7501 14.6554 38.6815C14.7925 38.6129 14.8996 38.4963 14.9564 38.3539L23.0814 17.7289C23.1246 17.6195 23.136 17.5 23.1143 17.3844C23.0926 17.2687 23.0388 17.1615 22.9589 17.0752Z"
    fill="#FF660B"></path>
  <path
    class=""
    d="M31.7187 8.33857C31.6378 8.24607 31.5312 8.17962 31.4126 8.14759C31.2939 8.11555 31.1684 8.11937 31.0519 8.15857L24.5112 10.3386L25.6181 2.58982C25.6394 2.43983 25.6055 2.28721 25.5227 2.16035C25.4399 2.03349 25.3139 1.94102 25.168 1.90014C25.0221 1.85926 24.8664 1.87275 24.7297 1.93811C24.593 2.00346 24.4847 2.11623 24.425 2.25544L18.8 15.3804C18.7529 15.4911 18.7386 15.6131 18.7591 15.7316C18.7795 15.8502 18.8338 15.9603 18.9153 16.0488C18.9968 16.1373 19.1021 16.2004 19.2185 16.2305C19.335 16.2606 19.4577 16.2565 19.5719 16.2186L25.9056 14.1073L21.9031 26.6867C21.8732 26.7804 21.8658 26.8799 21.8816 26.977C21.8974 27.0741 21.936 27.1661 21.9941 27.2455C22.0522 27.3249 22.1283 27.3895 22.2161 27.4339C22.3039 27.4783 22.401 27.5013 22.4994 27.5011C22.6169 27.5011 22.7322 27.468 22.8318 27.4056C22.9314 27.3431 23.0114 27.2538 23.0625 27.1479L31.8125 9.02294C31.8657 8.91224 31.8852 8.78834 31.8685 8.66666C31.8518 8.54498 31.7998 8.43088 31.7187 8.33857Z"
    fill="#FF660B"></path>
  <path
    d="M38.125 20H37.5V19.375C37.5 19.2092 37.4342 19.0503 37.3169 18.9331C37.1997 18.8158 37.0408 18.75 36.875 18.75C36.7092 18.75 36.5503 18.8158 36.4331 18.9331C36.3158 19.0503 36.25 19.2092 36.25 19.375V20H35.625C35.4592 20 35.3003 20.0658 35.1831 20.1831C35.0658 20.3003 35 20.4592 35 20.625C35 20.7908 35.0658 20.9497 35.1831 21.0669C35.3003 21.1842 35.4592 21.25 35.625 21.25H36.25V21.875C36.25 22.0408 36.3158 22.1997 36.4331 22.3169C36.5503 22.4342 36.7092 22.5 36.875 22.5C37.0408 22.5 37.1997 22.4342 37.3169 22.3169C37.4342 22.1997 37.5 22.0408 37.5 21.875V21.25H38.125C38.2908 21.25 38.4497 21.1842 38.5669 21.0669C38.6842 20.9497 38.75 20.7908 38.75 20.625C38.75 20.4592 38.6842 20.3003 38.5669 20.1831C38.4497 20.0658 38.2908 20 38.125 20ZM34.375 4.375H33.75V3.75C33.75 3.58424 33.6842 3.42527 33.5669 3.30806C33.4497 3.19085 33.2908 3.125 33.125 3.125C32.9592 3.125 32.8003 3.19085 32.6831 3.30806C32.5658 3.42527 32.5 3.58424 32.5 3.75V4.375H31.875C31.7092 4.375 31.5503 4.44085 31.4331 4.55806C31.3158 4.67527 31.25 4.83424 31.25 5C31.25 5.16576 31.3158 5.32473 31.4331 5.44194C31.5503 5.55915 31.7092 5.625 31.875 5.625H32.5V6.25C32.5 6.41576 32.5658 6.57473 32.6831 6.69194C32.8003 6.80915 32.9592 6.875 33.125 6.875C33.2908 6.875 33.4497 6.80915 33.5669 6.69194C33.6842 6.57473 33.75 6.41576 33.75 6.25V5.625H34.375C34.5408 5.625 34.6997 5.55915 34.8169 5.44194C34.9342 5.32473 35 5.16576 35 5C35 4.83424 34.9342 4.67527 34.8169 4.55806C34.6997 4.44085 34.5408 4.375 34.375 4.375ZM9.375 5H8.75V4.375C8.75 4.20924 8.68415 4.05027 8.56694 3.93306C8.44973 3.81585 8.29076 3.75 8.125 3.75C7.95924 3.75 7.80027 3.81585 7.68306 3.93306C7.56585 4.05027 7.5 4.20924 7.5 4.375V5H6.875C6.70924 5 6.55027 5.06585 6.43306 5.18306C6.31585 5.30027 6.25 5.45924 6.25 5.625C6.25 5.79076 6.31585 5.94973 6.43306 6.06694C6.55027 6.18415 6.70924 6.25 6.875 6.25H7.5V6.875C7.5 7.04076 7.56585 7.19973 7.68306 7.31694C7.80027 7.43415 7.95924 7.5 8.125 7.5C8.29076 7.5 8.44973 7.43415 8.56694 7.31694C8.68415 7.19973 8.75 7.04076 8.75 6.875V6.25H9.375C9.54076 6.25 9.69973 6.18415 9.81694 6.06694C9.93415 5.94973 10 5.79076 10 5.625C10 5.45924 9.93415 5.30027 9.81694 5.18306C9.69973 5.06585 9.54076 5 9.375 5ZM25.625 35H25V34.375C25 34.2092 24.9342 34.0503 24.8169 33.9331C24.6997 33.8158 24.5408 33.75 24.375 33.75C24.2092 33.75 24.0503 33.8158 23.9331 33.9331C23.8158 34.0503 23.75 34.2092 23.75 34.375V35H23.125C22.9592 35 22.8003 35.0658 22.6831 35.1831C22.5658 35.3003 22.5 35.4592 22.5 35.625C22.5 35.7908 22.5658 35.9497 22.6831 36.0669C22.8003 36.1842 22.9592 36.25 23.125 36.25H23.75V36.875C23.75 37.0408 23.8158 37.1997 23.9331 37.3169C24.0503 37.4342 24.2092 37.5 24.375 37.5C24.5408 37.5 24.6997 37.4342 24.8169 37.3169C24.9342 37.1997 25 37.0408 25 36.875V36.25H25.625C25.7908 36.25 25.9497 36.1842 26.0669 36.0669C26.1842 35.9497 26.25 35.7908 26.25 35.625C26.25 35.4592 26.1842 35.3003 26.0669 35.1831C25.9497 35.0658 25.7908 35 25.625 35ZM4.375 33.75H3.75V33.125C3.75 32.9592 3.68415 32.8003 3.56694 32.6831C3.44973 32.5658 3.29076 32.5 3.125 32.5C2.95924 32.5 2.80027 32.5658 2.68306 32.6831C2.56585 32.8003 2.5 32.9592 2.5 33.125V33.75H1.875C1.70924 33.75 1.55027 33.8158 1.43306 33.9331C1.31585 34.0503 1.25 34.2092 1.25 34.375C1.25 34.5408 1.31585 34.6997 1.43306 34.8169C1.55027 34.9342 1.70924 35 1.875 35H2.5V35.625C2.5 35.7908 2.56585 35.9497 2.68306 36.0669C2.80027 36.1842 2.95924 36.25 3.125 36.25C3.29076 36.25 3.44973 36.1842 3.56694 36.0669C3.68415 35.9497 3.75 35.7908 3.75 35.625V35H4.375C4.54076 35 4.69973 34.9342 4.81694 34.8169C4.93415 34.6997 5 34.5408 5 34.375C5 34.2092 4.93415 34.0503 4.81694 33.9331C4.69973 33.8158 4.54076 33.75 4.375 33.75Z"
    fill="black"></path>
  <path
    d="M31.25 31.25C30.2162 31.25 29.375 30.4088 29.375 29.375C29.375 28.3412 30.2162 27.5 31.25 27.5C32.2838 27.5 33.125 28.3412 33.125 29.375C33.125 30.4088 32.2838 31.25 31.25 31.25ZM31.25 28.75C31.0891 28.7572 30.9371 28.8262 30.8258 28.9426C30.7145 29.059 30.6523 29.2139 30.6523 29.375C30.6523 29.5361 30.7145 29.691 30.8258 29.8074C30.9371 29.9238 31.0891 29.9928 31.25 30C31.4109 29.9928 31.5629 29.9238 31.6742 29.8074C31.7855 29.691 31.8477 29.5361 31.8477 29.375C31.8477 29.2139 31.7855 29.059 31.6742 28.9426C31.5629 28.8262 31.4109 28.7572 31.25 28.75ZM5 18.125C3.96625 18.125 3.125 17.2838 3.125 16.25C3.125 15.2162 3.96625 14.375 5 14.375C6.03375 14.375 6.875 15.2162 6.875 16.25C6.875 17.2838 6.03375 18.125 5 18.125ZM5 15.625C4.83908 15.6322 4.68713 15.7012 4.5758 15.8176C4.46447 15.934 4.40233 16.0889 4.40233 16.25C4.40233 16.4111 4.46447 16.566 4.5758 16.6824C4.68713 16.7988 4.83908 16.8678 5 16.875C5.16092 16.8678 5.31287 16.7988 5.4242 16.6824C5.53553 16.566 5.59767 16.4111 5.59767 16.25C5.59767 16.0889 5.53553 15.934 5.4242 15.8176C5.31287 15.7012 5.16092 15.6322 5 15.625ZM34.375 15.625C33.3412 15.625 32.5 14.7838 32.5 13.75C32.5 12.7162 33.3412 11.875 34.375 11.875C35.4087 11.875 36.25 12.7162 36.25 13.75C36.25 14.7838 35.4087 15.625 34.375 15.625ZM34.375 13.125C34.2141 13.1322 34.0621 13.2012 33.9508 13.3176C33.8395 13.434 33.7773 13.5889 33.7773 13.75C33.7773 13.9111 33.8395 14.066 33.9508 14.1824C34.0621 14.2988 34.2141 14.3678 34.375 14.375C34.5359 14.3678 34.6879 14.2988 34.7992 14.1824C34.9105 14.066 34.9727 13.9111 34.9727 13.75C34.9727 13.5889 34.9105 13.434 34.7992 13.3176C34.6879 13.2012 34.5359 13.1322 34.375 13.125Z"
    fill="#4D4D4D"></path>
</svg>
