---
interface Props {
  styles: string;
}
const { styles } = Astro.props;
---

<style>
  .animate-bubble {
    animation: bubble 3s ease-in-out infinite;
    animation-direction: alternate;
  }

  @keyframes bubble {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .animate-bubble-1 {
    animation-delay: 3s;
  }
  .animate-bubble-2 {
    animation-delay: 4s;
  }
</style>

<svg
  role="img"
  class={styles}
  xmlns="http://www.w3.org/2000/svg"
  width="42"
  height="40"
  viewBox="0 0 42 40"
  fill="none"
>
  <title>Message bubbles</title>
  <path
    d="M38.5632 33.8378C37.9988 33.4128 37.1457 32.0128 36.3451 29.2253C38.0737 27.2074 39.1813 24.7727 39.5446 22.1915C39.9079 19.6103 39.5129 16.9836 38.4033 14.6034C37.2937 12.2231 35.513 10.1824 33.2591 8.7078C31.0051 7.23324 28.3661 6.38259 25.6351 6.25033C23.162 4.60408 20.2129 3.73047 17.1957 3.75033C14.3975 3.74987 11.6563 4.50399 9.28939 5.92544C6.92245 7.34689 5.0265 9.37756 3.82089 11.7825C2.61529 14.1874 2.14932 16.8683 2.4769 19.515C2.80448 22.1616 3.91222 24.6658 5.67195 26.7378C5.32757 28.4175 4.56711 29.9945 3.45382 31.3378C3.29155 31.4345 3.1511 31.561 3.04063 31.7099C2.93016 31.8588 2.85189 32.0272 2.81036 32.2051C2.76883 32.3831 2.76488 32.5672 2.79874 32.7466C2.8326 32.926 2.90358 33.0973 3.00757 33.2503C3.1675 33.428 3.3709 33.5654 3.59981 33.6504C3.82872 33.7354 4.07609 33.7655 4.32007 33.7378C6.56445 33.7503 10.5019 31.8253 12.0244 31.0753C13.4217 31.5708 14.8923 31.8535 16.3819 31.9128C18.8591 33.5608 21.8129 34.4345 24.8344 34.4128C26.5947 34.415 28.3413 34.1187 29.9926 33.5378C31.5019 34.3253 35.4394 36.2503 37.6838 36.2503C37.9289 36.2765 38.177 36.2445 38.406 36.1573C38.635 36.07 38.8378 35.9302 38.9963 35.7503C39.1009 35.598 39.1727 35.4274 39.2075 35.2485C39.2424 35.0696 39.2396 34.8858 39.1993 34.7079C39.159 34.53 39.082 34.3615 38.9728 34.2121C38.8636 34.0628 38.7244 33.9356 38.5632 33.8378ZM11.8144 28.3128L11.2501 28.6128C9.89772 29.3268 8.49425 29.9492 7.05007 30.4753C7.60155 29.2642 8.04072 28.0094 8.36257 26.7253L8.52007 26.0878L8.0607 25.6003C6.4843 23.9284 5.45174 21.8564 5.08848 19.6361C4.72522 17.4158 5.0469 15.1428 6.01444 13.0933C6.98198 11.0438 8.55372 9.30613 10.5387 8.09133C12.5236 6.87654 14.8363 6.23697 17.1957 6.25033C19.7978 6.24038 22.3322 7.03912 24.4144 8.52533C26.4759 9.97351 28.0048 12.0044 28.7833 14.3286C29.5618 16.6527 29.5503 19.1516 28.7503 21.4692C27.9503 23.7867 26.4027 25.8047 24.3279 27.2355C22.2532 28.6664 19.7573 29.4371 17.1957 29.4378H16.9594L14.7807 29.2128C13.9835 29.0663 13.2049 28.8401 12.4576 28.5378L11.8144 28.3128Z"
    fill="#020201"></path>
  <path
    class="animate-bubble"
    d="M10.2255 20.1008C11.3273 20.1008 12.2205 19.2501 12.2205 18.2008C12.2205 17.1514 11.3273 16.3008 10.2255 16.3008C9.12366 16.3008 8.23047 17.1514 8.23047 18.2008C8.23047 19.2501 9.12366 20.1008 10.2255 20.1008Z"
    fill="#FF660B"></path>
  <path
    class="animate-bubble animate-bubble-1"
    d="M17.1825 20.1008C18.2843 20.1008 19.1775 19.2501 19.1775 18.2008C19.1775 17.1514 18.2843 16.3008 17.1825 16.3008C16.0807 16.3008 15.1875 17.1514 15.1875 18.2008C15.1875 19.2501 16.0807 20.1008 17.1825 20.1008Z"
    fill="#FF660B"></path>
  <path
    class="animate-bubble animate-bubble-2"
    d="M24.1395 20.1008C25.2413 20.1008 26.1345 19.2501 26.1345 18.2008C26.1345 17.1514 25.2413 16.3008 24.1395 16.3008C23.0377 16.3008 22.1445 17.1514 22.1445 18.2008C22.1445 19.2501 23.0377 20.1008 24.1395 20.1008Z"
    fill="#FF660B"></path>
</svg>
