---
import Ecommerece from "../icons/Ecommerece.astro";
import Marketing from "../icons/Marketing.astro";
import SEO from "../icons/SEO.astro";
import WebDesign from "../icons/WebDesign.astro";
---

<h3
  class="mt-44 text-center font-bold text-gray-800 text-5xl md:text-5xl xl:text-6xl 2xl:text-7xl"
>
  Recent work
</h3>
<div class="min-h-screen">
  <div class="mt-4 flex justify-center gap-8">
    <div
      class="rounded-lg p-8 xl:w-[700px] xl:h-[700px] flex flex-col justify-between shadow-2xl hover:scale-105 transition-transform border-2"
    >
      <div>
        <p class="font-bold text-gray-800 text-3xl">
          <span class="block">New Zealand</span>
          <span class="block">Blue Spring Water</span>
        </p>
        <div class="flex items-center gap-1 mt-10">
          <span><WebDesign styles="w-8 h-8 stroke-gray-400" /></span>
          <span class="text-gray-500">Web design</span>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <span><Ecommerece styles="w-8 h-8 stroke-gray-400" /></span>
          <span class="text-gray-500">E-commerce</span>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <span><Marketing styles="w-8 h-8 stroke-gray-400" /></span>
          <span class="text-gray-500">Marketing Landing Page</span>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <span><SEO styles="w-8 h-8 stroke-gray-400" /></span>
          <span class="text-gray-500">SEO</span>
        </div>
      </div>
      <img src="/images/waiz.jpg" class="rounded-lg mt-10" />
    </div>
    <div
      class="rounded-lg p-8 xl:w-[700px] xl:h-[700px] flex flex-col justify-between shadow-2xl hover:scale-105 transition-transform border-2"
    >
      <div>
        <p class="font-bold text-gray-800 text-5xl">studio-Ro</p>
        <div class="flex items-center gap-1 mt-10">
          <span><WebDesign styles="w-8 h-8 stroke-gray-400" /></span>
          <span class="text-gray-500">Web design</span>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <span><Ecommerece styles="w-8 h-8 stroke-gray-400" /></span>
          <span class="text-gray-500">E-commerce</span>
        </div>
        <div class="flex items-center gap-1 mt-2">
          <span><SEO styles="w-8 h-8 stroke-gray-400" /></span>
          <span class="text-gray-500">SEO</span>
        </div>
      </div>
      <img
        src="/images/studio-ro.jpg"
        class="rounded-lg justify-self-end w-full h-auto"
      />
    </div>
  </div>
</div>
