<script>
  const mobileMenu = document.querySelector(".mobile-nav-menu");
  const mobileMenuButton = document.querySelector(".mobile-menu-button");

  mobileMenuButton?.addEventListener("click", () => {
    mobileMenu?.classList.toggle("hidden");
  });

</script>

<button class="mobile-menu-button inline-flex flex-col gap-1 lg:hidden">
  <div class="h-1 w-7 bg-gray-600 rounded-xl"></div>
  <div class="h-1 w-7 bg-gray-600 rounded-xl"></div>
  <div class="h-1 w-7 bg-gray-600 rounded-xl"></div>
</button>
